<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <header>
       <div class="nav_bar">
        <div class="content_Header">
          <span class="ct1">My </span>
          <span class="ct2">|</span>
          <span class="ct3"> Porfolio</span>
        </div>
         <ul style="color: brown;" class="nav_bar_ul">
           <li  class="item_nav">
             <a href="https://www.facebook.com/profile.php?id=100010634795802">My Information</a>
           </li>
           <li class="item_nav">
             <a href="">My Skill</a>
           </li>
           <li class="item_nav">
             <a href="">Education</a>
           </li>
           <li class="item_nav">
             <a href="">Favorite</a>
           </li>
           <li class="item_nav">
             <a href="">Contact</a>
           </li>
           
         </ul>
         
        </div>
     </header>
     <div class="main_content_body">
       <div class="information_ct1">
         <div class="info_ct1">
          <img src="images/anh_bia.jpg" alt="">
         </div>
         <div class="info_ct2">
           <p>My name is Khai , I am 19 years old and currently a second year student of FPT University. I am a very special and interesting person</p>
           <button onclick="call_content()" >Click to explore about me</button>
           <div class="content_button"></div>
           <h1>that is my project</h1>
           <h1>my name is khai</h1>
           <h1>i'm 19 years old</h1>
         </div>
       </div>
     </div>
     <script src="javascripts/main.js"></script>
  </body>
</html>
